@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.65rem;
    --background: oklch(0.9818 0.0054 95.0986);
    --foreground: oklch(0.3438 0.0269 95.7226);
    --card: oklch(0.9818 0.0054 95.0986);
    --card-foreground: oklch(0.1908 0.0020 106.5859);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2671 0.0196 98.9390);
    --primary: oklch(0.6171 0.1375 39.0427);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9245 0.0138 92.9892);
    --secondary-foreground: oklch(0.4334 0.0177 98.6048);
    --muted: oklch(0.9341 0.0153 90.2390);
    --muted-foreground: oklch(0.6059 0.0075 97.4233);
    --accent: oklch(0.9245 0.0138 92.9892);
    --accent-foreground: oklch(0.2671 0.0196 98.9390);
    --destructive: oklch(0.1908 0.0020 106.5859);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8847 0.0069 97.3627);
    --input: oklch(0.7621 0.0156 98.3528);
    --ring: oklch(0.6171 0.1375 39.0427);
    --chart-1: oklch(0.5583 0.1276 42.9956);
    --chart-2: oklch(0.6898 0.1581 290.4107);
    --chart-3: oklch(0.8816 0.0276 93.1280);
    --chart-4: oklch(0.8822 0.0403 298.1792);
    --chart-5: oklch(0.5608 0.1348 42.0584);
    --sidebar: oklch(0.9663 0.0080 98.8792);
    --sidebar-foreground: oklch(0.3590 0.0051 106.6524);
    --sidebar-primary: oklch(0.6171 0.1375 39.0427);
    --sidebar-primary-foreground: oklch(0.9881 0 0);
    --sidebar-accent: oklch(0.9245 0.0138 92.9892);
    --sidebar-accent-foreground: oklch(0.3250 0 0);
    --sidebar-border: oklch(0.9401 0 0);
    --sidebar-ring: oklch(0.7731 0 0);
    
    /* Notyqo specifics - mapped to theme variables */
    --highlight: oklch(0.9245 0.0138 92.9892); /* accent */
    --brand: oklch(0.6171 0.1375 39.0427); /* primary */
  }

  .dark {
    --background: #262624;
    --foreground: #c3c0b6;
    --card: #262624;
    --card-foreground: #faf9f5;
    --popover: #30302e;
    --popover-foreground: #e5e5e2;
    --primary: #d97757;
    --primary-foreground: #ffffff;
    --secondary: #faf9f5;
    --secondary-foreground: #30302e;
    --muted: #1b1b19;
    --muted-foreground: #b7b5a9;
    --accent: #1a1915;
    --accent-foreground: #f5f4ee;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #3e3e38;
    --input: #52514a;
    --ring: #d97757;
    --chart-1: #b05730;
    --chart-2: #9c87f5;
    --chart-3: #1a1915;
    --chart-4: #2f2b48;
    --chart-5: #b4552d;
    --sidebar: #1f1e1d;
    --sidebar-foreground: #c3c0b6;
    --sidebar-primary: #343434;
    --sidebar-primary-foreground: #fbfbfb;
    --sidebar-accent: #0f0f0e;
    --sidebar-accent-foreground: #c3c0b6;
    --sidebar-border: #ebebeb;
    --sidebar-ring: #b5b5b5;
    
    /* Notyqo specifics */
    --highlight: #1a1915;
    --brand: #d97757;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
